doctype html
html
    head
        title!= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='//cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css',rel='stylesheet')
        link(href='//xiaoan.tocas-ui.com/ts.xiaoan.min.css',rel='stylesheet')
        link(href='/css/style.css',rel='stylesheet')
        link(href='/css/ripple.min.css',rel='stylesheet')
        link(href='/icon/icon.png',rel='shortcut icon')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src="//cdnjs.cloudflare.com/ajax/libs/trianglify/1.2.0/trianglify.min.js")
        script(src='//unpkg.com/sweetalert/dist/sweetalert.min.js')
        script(src='/js/instantclick.min.js')
        script(src='/js/ripple.min.js')
        script(src='/js/script.js')
    body
        header.ts.heading.vertically.padded.fluid.slate(data-no-instant)
            .image
                script headerImg();menuClick();
                img#headerImg
            a.ts.container(href='/')
                h1.ts.center.aligned.header!= title