doctype html
html
    head
        title!= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='https://cdn.jsdelivr.net/gh/TeaMeow/TocasUI@3.0.0-alpha.1/dist/tocas.css',rel='stylesheet')
        link(href='https://xiaoan.tocas-ui.com/css/UIKit.css',rel='stylesheet')
        link(href='/css/style.css',rel='stylesheet')
        link(href='/css/dark.css',rel='stylesheet')
        link(href='/icon/icon.png',rel='shortcut icon')
    body
        #data(style="display:none")
            .siteTitle=title
        header.ts.heading.vertically.padded.fluid.slate
            .image
                img#headerImg
            a.ts.container(href='/',data-navigo)
                h1.ts.center.aligned.header!= title