doctype html
html
    head
        title=title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css',rel='stylesheet')
        link(href='//cdn.jsdelivr.net/gh/TeaMeow/TocasUI@3.0.0-alpha.1/dist/tocas.css',rel='stylesheet')
        link(href='//xiaoan.tocas-ui.com/css/UIKit.css',rel='stylesheet')
        link(href='/css/style.css',rel='stylesheet')
        link(href='/css/dark.css',rel='stylesheet')
        link(href='/icon/icon.png',rel='shortcut icon')
    body
        #data(style="display:none")
            .siteTitle=title
        div(style="flex-grow: 1")
            block content
        footer.ts.bottom.attached.horizontally.fitted.fluid.secondary.segment
            .ts.container   
                div(style="line-height: 34px;") gnehs.net 2018
                div(style="flex: 1;text-align:right")
                    .ts.separated.circular.compact.basic.icon.buttons
                        a.ts.button(href="https://github.com/gnehs/MarkdownReader",target="_blank")
                            i.icon.github
                        a.ts.button(data-dark)
                            i.icon.moon
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/zh-tw.js')
        -if(env.NODE_ENV=="production")
            script(src='//cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.min.js')
        -else
            script(src='//cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js')
        script(src='//unpkg.com/vue-router@3.0.2/dist/vue-router.js')
        script(src='//unpkg.com/vue-swal@1.0.0/dist/vue-swal.js')
        script(src='/js/navigo.min.js')
        script(src='/js/script.js')
        block footer