#nav.ts.basic.fluid.borderless.menu.horizontally.inverted.scrollable
    .ts.container
        a.item(href='/')
            i.icon.home
            =lang.nav.home
        a.item(href='/page/1')
            i.icon.file.text
            =lang.nav.post
        a.item(href='/search/')
            i.icon.search
            =lang.nav.search
        .right.fitted.item