extends _layout.pug
block content
	#app
		#nav.ts.basic.fluid.borderless.menu.horizontally.scrollable
			.ts.container
				router-link.sitetitle(to="/",data-navigo)=title
				router-link.item.home(to="/",data-navigo)
					i.icon.home
					span 首頁
				router-link.item.search(to="/search",data-navigo)
					i.icon.search
					span 搜尋
				.right.fitted.item
					a.item.dark(data-dark)
						i.icon.moon
						span 夜間模式
		router-view.ts.container
			.ts.active.centered.inline.loader
		
block footer
	#menu
		a.button.previousChapter
		a.button.nowChapter
		a.button.nextChapter
		a.button.top(data-scroll='0')
			i.icon.caret.up