include _header.pug
include _nav.pug
.ts.container
    h3.ts.header=postTitle

    if(post)
        #content.ts.basic.segment!=postContent
    else
        #content.ts.basic.segment=lang.error.nothingHere

    button.ts.fluid.labeled.icon.button(onclick='history.back()')
        i.icon.caret.left
        =lang.post.back
include _footer.pug
#menu
    a.button.previousChapter
    a.button.nowChapter
    a.button.nextChapter
    a.button.top(href="#top")
        i.icon.caret.up