body.dark {
    background: #000;
}

.dark input {
    filter: invert(0.89);
    border: 0px solid !important;
}

.dark header {
    box-shadow: none !important;
}

.dark header .image {
    background: #000;
}

.dark #headerImg {
    opacity: 0.3;
}

.dark #menu {
    filter: invert(0.89);
}

.dark .ts.button:not(.inverted) {
    filter: invert(.9);
}

.dark .ts.divider {
    border-bottom: 1px solid #323232 !important;
}

.dark .ts.header,
.dark label,
.dark .ts.card>.content>.header,
.dark #login {
    color: #fff !important;
}

.dark .ts.header .sub.header {
    color: #e4e4e4;
}


/*=============
card
=============*/

.dark .ts.card {
    background: #181717;
    box-shadow: none !important;
}

.dark a.ts.card.card.card.card.card.card:hover {
    background: #292626;
    box-shadow: none !important;
    transform: none !important;
}

.dark a.ts.card.card.card.card.card.card:active {
    background: #0b0a0a;
    box-shadow: none !important;
}

.dark .ts.card>.content>.description {
    color: #c8c8c8;
}


/*=============
nav
=============*/

.dark #nav {
    box-shadow: none;
    background-color: #1d1d1d;
}

.dark #nav .sitetitle {
    color: #FFF !important;
}

.dark #nav .item.item {
    color: rgba(255, 255, 255, 0.85);
}

.dark #nav .item.item:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.05);
}

.dark #nav .item.item:active {
    color: rgba(255, 255, 255, 0.85);
    background: rgba(255, 255, 255, 0.1);
}

.dark #nav .input .icon {
    color: white;
}

.dark #nav a.item:hover,
.dark #nav a.active.item {
    background: rgba(0, 0, 0, 0.07);
}


/*=============
content
=============*/

.dark p,
.dark #content p {
    color: rgb(239, 239, 239);
}


/*=============
login
=============*/

.dark #login {
    background: #363535;
}

.dark #login .ts.button {
    filter: none;
}


/*=============
footer
=============*/

.dark footer {
    background: #1d1d1d !important;
    color: #FFF !important;
}

.dark footer .button {
    filter: invert(.9);
}