#navigator {
    margin: 0 auto;
    text-align: center;
}

#login {
    max-width: 400px;
}

kbd {
    font-family: 'Roboto Mono', monospace !important;
}

a.ts.card:hover:not(.no):not(.earlyspring) {
    -webkit-box-shadow: 0px 7px 20px rgba(167, 167, 167, 0.6) !important;
    box-shadow: 0px 7px 20px rgba(167, 167, 167, 0.6) !important;
}


/*===========
Header
===========*/

header {
    padding: 5em 2em !important;
    padding-bottom: calc(4em + 48px) !important;
}

header .header {
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.4) !important;
}


/*==========
pagination
==========*/

.pagination {
    margin-top: 30px;
    text-align: center;
}

.pagination>.button {
    margin: 3px 2px;
}


/*==========
NAV
==========*/

#nav {
    margin-bottom: 35px;
    margin-top: -48px;
    background: transparent;
    overflow: scroll;
    width: 100vw;
    box-shadow: none;
}

#nav a.item {
    border-radius: 4px;
}

#nav .right a.item {
    margin-right: 5px;
}

#nav a.item:hover,
#nav a.active.item {
    background: rgba(0, 0, 0, 0.07);
}

#nav .ts.container {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: .88rem !important;
    padding-right: .88rem !important;
}

#nav .input .icon {
    color: white;
}


/*==========
pageSelections
==========*/

#pageSelections {
    text-align: center;
    display: block;
}

#pageSelections .ts.button {
    margin-top: 20px !important;
    transition: box-shadow 0.25s linear;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*=============
文章內文
=============*/

#content,
#content p {
    text-indent: 2em;
    font-size: 16px;
    color: rgb(80, 80, 80);
    line-height: 1.5em;
}

#content a {
    color: rgb(93, 73, 171);
}

#content a:hover {
    color: rgb(76, 60, 141);
}

#content a:active {
    color: rgb(51, 41, 94);
}

#content>p>img {
    margin: 0 25%;
    width: 50%;
}

@media screen and (max-width: 600px) {
    #content>p>img {
        margin: 0 15%;
        width: 70%;
    }
}

#content pre {
    background: #f6f6f6;
    padding: 5px;
    border-radius: 5px
}


/*=============
footer
=============*/

footer {
    margin-bottom: 80px
}


/*=============
menu
=============*/

#menu {
    position: fixed;
    bottom: 5px;
    width: 420px;
    height: 40px;
    right: 0;
    margin: auto;
    text-align: center;
    left: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 7px #0000002b;
    background-color: white;
    z-index: 99;
    transition: .4s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.79);
}

#menu:not(.show) {
    transform: translateY(70px);
}

#menu .button {
    color: #adadad;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    width: 115px;
    margin: 0;
    text-overflow: ellipsis;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    height: 35px;
    margin: 2.5px;
    line-height: 35px;
    border-radius: 5px;
    transition: .1s;
    transition-timing-function: ease-in-out;
}

#menu .button[data-scroll="N/A"] {
    color: #dedede;
    cursor: not-allowed;
    pointer-events: none;
}

#menu .button:hover {
    color: #656565;
}

#menu .button.top {
    width: 55px;
    background-color: white;
}

#menu .button.nowChapter {
    color: #2d2d2d;
}

#menu.changeing.toPrevious .button:not(.top) {
    animation: moveLeft .2s ease;
}

#menu.changeing.toNext .button:not(.top) {
    animation: moveRight .2s ease;
}

@keyframes moveLeft {
    from {
        transform: translateX(-120px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes moveRight {
    from {
        transform: translateX(120px);
    }
    to {
        transform: translateX(0px);
    }
}